.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}


.table-db-List {
    margin: 0% 5%;
    border: 1px solid black;
    height: 50rem;
    overflow: hidden;
}